#Sequence span:nth-child(10n) {
    margin-right: 0.5em;
    }
@media (max-width:959.95px) {
#Sequence span:nth-child(20n+1):before {
    content: "";
    display: block;
    }
}
@media (min-width:960px) {
#Sequence span:nth-child(50n+1):before {
    content: "";
    display: block;
    }
}
.sequence {
    flex: 0 1 0;

}
.title-number{ 
    width:400px;
    text-align:right;
    float:left;
}
.sequence{
margin-left:410px;
margin-right:400px;
text-align:left;

}
.rect-unspliced{
    margin-left:0px;
    margin-right:0px;
    text-align:left;
    background-color: lightgrey;

}



.g1{
    font-family: monospace;
}
.g2{
    font-family: monospace;
}
.g3{
    font-family: monospace;
}
.g5{
    font-family: monospace;
}
.g6{
    font-family: monospace;
}
.g7{
    font-family: monospace;
}


#Protein span:nth-child(10n) {
    margin-right: 0.5em;
    }
@media (max-width:959.95px) {
#Protein span:nth-child(20n+1):before {
    content: "";
    display: block;
    }
}
@media (min-width:960px) {
#Protein span:nth-child(50n+1):before {
    content: "";
    display: block;
    }
}

.protein-title{ 
    width:350px;
    text-align:right;
    float:left;

}
.protein{
margin-left:360px;
margin-right:300px;
text-align:left;
}
